@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: "Roboto","sans-serif";
    font-weight: 300;
    background-color: #181818;
    color: white;
    overflow: hidden;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 300;
}
#wrapper{
    display: flex;
}
#left{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1; 
    height: 100vh;
    justify-content: center;
}

#right{
    flex:1;
}
#showcase{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: url(pics/img2.jpg) no-repeat center center / cover;
    text-align: center;
}
/* sign in */

#sign-in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 80%;
    padding-bottom: 1rem;
}
#sign-in form{
    width: 80%;
    padding-bottom: 3rem;
}
#sign-in .logo{
    margin-bottom: 8vh;
}
#sign-in .logo img{
    width: 300px;
}
#sign-in label{
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 2rem;
}
#sign-in .text-input{
    width:100%;
    margin-bottom: 1.3rem;
    border-radius: 2px;
    background-color: #181818;
    border: solid #555 1px;
    color:white;
    padding: 0.5rem 1rem;
}

#sign-in .primiry-btn{
    width:100%;
}
.primiry-btn{
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border-radius: 2px;
    font-weight: 500;
    background-color: #f96816;
    color: #fff;
    cursor: pointer;
    text-align: center;
    transition: all 1s;
}
.primiry-btn:hover{
    background-color: #ff7b39;
}

#sign-in .secendarybutton,#or,#links{
    width:60%;
}
#sign-in #links a{
    display: block;
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 0.9rem
}
#sign-in #or{
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
}
#sign-in #or hr{
flex: auto;
background: #aaa;
}
#sign-in #or span{
    padding: 0rem 0.8rem;
}
#foot {
color: #ccc;
text-align: center;
font-size: 0.8rem;
max-width: 80%;
padding-top: 5rem;
}
#foot a{
    color: #ff7b39;
    text-decoration: underline;
}
.secendarybutton{
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 1px solid #f4f4f4;
    border-radius: 2px;
    font-weight: 500;
    background-color: #f96816;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: all 1s;
}
.secendarybutton:hover{
   border-color: #ff7b39;
   color:#ff7b39 ;
   text-decoration: none;
}
@media (min-width :1200px){
    #left{
        flex:4;
    }
    #right{
        flex:6
    }

}
@media(max-width:768px) {
    body{
        overflow: auto;
    }
    #right{
        display: none;
    }
    #left{
        justify-content: start;
    }
}